

/* Import component styles */
@import '../components/sidebar.css';
@import 'colors.css';
@import 'spacing.css';
@import 'typography.css';

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

    html[lang="ar"] body {
        font-family: 'Helvetica Neue LT Arabic', sans-serif;
    }

    html[lang="en"] body {
        font-family: 'Helvetica Neue', sans-serif;
    }

body {
    margin-bottom: 60px;
}

footer {
    z-index: 900;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
